<div>
    <%= @post.title %>
</div>
<div>
	<%= image_tag @post.image.url(:large), class: 'img-show' if @post.image? %>
    <%= @post.body %>
</div>
<%= link_to "Редактировать", edit_post_path(@post), class: "btn btn-warning"%>
<%= link_to "Удалить", post_path(@post), method: :delete, data: {confirm: "Хотите удалить?"}, class: "btn btn-danger"%>
<hr>
<h6>Комментарии:</h6>
<% @post.comments.each do |comment| %>
<div class="alert alert-light">
   <strong> <%= comment.username %>: </strong>

        <%= comment.body%></u>

</div>
<% end %>

<hr>
<h5>Добавьте комментарий</h5>
<% if @post.errors.any?%>
<% @post.errors.full_messages.each do |message|%>
<div class="alert alert-danger">
    <%= message%>
</div>
<% end %>
<% end %>
<%= form_for [@post, @post.comments.build] do |f|%>
<div>
    Пользователя<br>
    <%= f.text_field :username, class: 'form-control' %>
</div>
<div>
    Комментарий<br>
    <%= f.text_area :body, class: 'form-control' %>
</div>
<div><br>
    <%= f.submit "Добавить", class: "btn btn-success" %>
</div>
<% end %>